.container {
    padding: 2rem;

}

.GenreStyles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 1rem;
    color: #fdfdfe;
}

.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;

}

.error {
    color: red;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid red;
    border-radius: 4px;
    background-color: #ffe6e6;
}

.HFinder{
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

.genreWrapper{
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}